version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    develop:
      watch:
        - action: sync
          path: ./apps/api/src
          target: /app/src
        - action: rebuild
          path: ./apps/api/package.json
        - action: rebuild
          path: ./packages/types/package.json

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
    develop:
      watch:
        - action: sync
          path: ./apps/client/src
          target: /app/apps/client/src
        - action: rebuild
          path: ./apps/client/package.json
        - action: rebuild
          path: ./apps/api/tsconfig.json
